body {
    padding: 0;
    margin: 0;
    background: #17171a;
    overflow-x: hidden;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#222227;
  }
  .nav-link,
  .navbar-brand {
    color: #F6F1D1;
    cursor: pointer;
  }
  .navbar-brand:hover{
    color: #EF8354;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #EF8354;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .container-fluid {
    padding: 2%;
  }
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  .feature-title {
    color: #EF8354;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-top: 10px;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

  .page-footer {
    background-color: #222227;
    color: #ccc;
    position: relative;
    width: 100%;
  }

  .footer-copyright {
    color: #666;
    padding: 20px 0;
  }

  @media (max-width: 575.98px) {
    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.animation{
  padding: 2%;
  text-align: center;
}
.animation img, video{
  padding: 10px;
}

img:hover{
  background-color: rgba(23, 23, 26, 0.8);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(0, 0, 0, 0.6)
}
.image {
  position: relative;

}
.image:hover .overlay {
  opacity: 1;
}

.image .text {
  color: #F6F1D1;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}